<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

    
    <style>
        table {
            width: 100%;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body class="bg-purple-100">
    <div class="m-8">           
        <h1 class="text-3xl mb-8">Listagem de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>email</th>
                    <th>telefone</th>
                    <th>quantidade de pets</th>
                </tr>
            </thead>
            <tbody>
            <% if (listaClientes.length > 0) { %>
                <% listaClientes.forEach(cliente => { %>
                    <tr>
                        <td><%= cliente.dataValues.nome %></td>
                        <td><%= cliente.dataValues.email %></td>
                        <td><%= cliente.dataValues.telefone %></td>
                        <td><%= cliente.dataValues.pets.length %></td>
                    </tr>
                <%  }); %>
            <% } %>
            </tbody>
            
        </table>
    </div>
</body>
</html>